<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dokumen yang Di-upload</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            color: #333;
            text-decoration: none;
        }
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 48px 0 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
      }
      .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: 0.5rem;
        overflow-x: hidden;
        overflow-y: auto;
      }
      .content {
        margin-left: 250px;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link text-dark active" href="../home">
              <span data-feather="home"></span>
              Dashboard<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark active" href="/admin/upload">
              <span data-feather="upload"></span>
              Upload Dokumen <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark active" href="/admin/documents">
                <span data-feather="list"></span>
              Daftar Dokumen <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="content">
      <div class="container mt-5">
        <h1 class="text-center">Dokumen Skripsi yang Di-upload</h1>
        <table class="table table-striped table-bordered">
          <thead class="thead-dark">
            <tr>
              <th>No</th>
              <th>Judul</th>
              <th>Nama File</th>
              <th>Isi teks</th>
              <th>Waktu Upload</th>
            </tr>
          </thead>
          <tbody>
            {% for document in documents %}
            <tr>
              <td>{{ loop.index }}.</td>
              <td>{{ document[1] }}</td>
              <td>{{ document[2] }}</td>
              <td>
                <a
                  href="#"
                  class="text-primary"
                  data-toggle="modal"
                  data-target="#modal{{ loop.index }}"
                >
                  {{ document[3][:100] }}{% if document[3]|length > 100 %}...{%
                  endif %}
                </a>
              </td>
              <td>{{ document[5] }}</td>
            </tr>
            <div
              class="modal fade"
              id="modal{{ loop.index }}"
              tabindex="-1"
              role="dialog"
              aria-labelledby="modalLabel{{ loop.index }}"
              aria-hidden="true"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel{{ loop.index }}">
                      Deskripsi Lengkap
                    </h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">{{ document[3] }}</div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Tutup
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"></script>
    <script>
      feather.replace();
    </script>
  </body>
</html>
